[submodule "submodules/dinov3"]
	path = submodules/dinov3
	url = https://github.com/facebookresearch/dinov3.git
[submodule "submodules/vggt"]
	path = submodules/vggt
	url = https://github.com/facebookresearch/vggt.git
[submodule "submodules/Depth-Anything-3"]
	path = submodules/Depth-Anything-3
	url = https://github.com/ByteDance-Seed/Depth-Anything-3.git
